[submodule "_includes/code/564552"]
	path = _includes/code/564552
	url = git@gist.github.com:564552.git
[submodule "_includes/code/361212"]
	path = _includes/code/361212
	url = git@gist.github.com:361212.git
[submodule "_includes/code/363906"]
	path = _includes/code/363906
	url = git@gist.github.com:363906.git
[submodule "_includes/code/410110"]
	path = _includes/code/410110
	url = git@gist.github.com:410110.git
[submodule "_includes/code/484904"]
	path = _includes/code/484904
	url = git@gist.github.com:484904.git
[submodule "_includes/code/503261"]
	path = _includes/code/503261
	url = git@gist.github.com:503261.git
[submodule "_includes/code/534207"]
	path = _includes/code/534207
	url = git@gist.github.com:534207.git
[submodule "_includes/code/561255"]
	path = _includes/code/561255
	url = git@gist.github.com:561255.git
[submodule "_includes/code/562017"]
	path = _includes/code/562017
	url = git@gist.github.com:562017.git
[submodule "_includes/code/573397"]
	path = _includes/code/573397
	url = git@gist.github.com:573397.git
[submodule "_includes/code/578805"]
	path = _includes/code/578805
	url = git@gist.github.com:578805.git
[submodule "_includes/code/595835"]
	path = _includes/code/595835
	url = git@gist.github.com:595835.git
[submodule "_includes/code/595663"]
	path = _includes/code/595663
	url = git@gist.github.com:595663.git
[submodule "_includes/code/619493"]
	path = _includes/code/619493
	url = git@gist.github.com:619493.git
[submodule "_includes/code/659491"]
	path = _includes/code/659491
	url = git@gist.github.com:659491.git
[submodule "_includes/code/702093"]
	path = _includes/code/702093
	url = git@gist.github.com:702093.git
[submodule "_includes/code/730380"]
	path = _includes/code/730380
	url = git@gist.github.com:730380.git
[submodule "_includes/code/736457"]
	path = _includes/code/736457
	url = git@gist.github.com:736457.git
[submodule "_includes/code/722349"]
	path = _includes/code/722349
	url = git@gist.github.com:722349.git
[submodule "_includes/code/766670"]
	path = _includes/code/766670
	url = git@gist.github.com:766670.git
[submodule "_includes/code/777770"]
	path = _includes/code/777770
	url = git@gist.github.com:777770.git
[submodule "_includes/code/774664"]
	path = _includes/code/774664
	url = git@gist.github.com:774664.git
[submodule "_includes/code/781061"]
	path = _includes/code/781061
	url = git@gist.github.com:781061.git
[submodule "_includes/code/781203"]
	path = _includes/code/781203
	url = git@gist.github.com:781203.git
[submodule "_includes/code/874119"]
	path = _includes/code/874119
	url = git@gist.github.com:874119.git
[submodule "_includes/code/871708"]
	path = _includes/code/871708
	url = git@gist.github.com:871708.git
[submodule "_includes/code/874156"]
	path = _includes/code/874156
	url = git@gist.github.com:874156.git
[submodule "_includes/code/912344"]
	path = _includes/code/912344
	url = git@gist.github.com:912344.git
[submodule "_includes/code/934781"]
	path = _includes/code/934781
	url = git@gist.github.com:934781.git
[submodule "_includes/code/946857"]
	path = _includes/code/946857
	url = git@gist.github.com:946857.git
[submodule "_includes/code/951553"]
	path = _includes/code/951553
	url = git@gist.github.com:951553.git
