---
layout: default
title: Archive
---
<article>
	<h2>{{ page.title }}</h2>
	<section>
        {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
        {% for year in postsByYear %}
        <h4 id="{{year.name}}" class="larger"><a href="#{{ year.name }}">{{ year.name }}</a></h4>
        <ul style="list-style-type: none">
            {% for post in year.items %}
            <li>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a> –
                <span class="smaller">{{ post.date | date: "%b %-d" }}</span>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
	</section>
</article>
