<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <meta name="readability-verification" content="3hEySDTZsM3WZZACwSUg4M39hFupkschurJmMTVV"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

        <title>{{ page.title }} - {{ site.title }}</title>
        <meta name="description" content="{{ site.tagline }}">
        <link rel="apple-touch-icon" sizes="180x180"  href="{{ site.url }}/style/icon.png"> 
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/style/icon.png"> 
        <link rel="icon" type="image/png" sizes="16x16"  href="{{ site.url }}/style/icon.png"> 

        <!-- Twitter Card (small image card) tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@pepijndevos">
        <meta name="twitter:title" content="{{ page.title }}">
        {% if page.excerpt %}
            <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
        {% endif %}
        <meta name="twitter:image" content="{{ site.url }}/style/icon.png" />

        <link rel="stylesheet" type="text/css" href="/style/style.css" />

        <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Latest posts" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    {% include og.html %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">

        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>

        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
    </head>
    <body>
        <header>
            <h1><a href="/">{{ site.title }}</a></h1>
            <span>{{ site.tagline }}</span>
        </header>

        <div class="hfeed">
            {{ content }}
        </div>
        
        <aside>
            <div id="drawer">
                <div id=drawer-contents>
                    <nav>
                        <a href="/archive.html">Archive</a>
                        <!--<a href="/about.html">About me</a>-->
                        <a href="/projects.html">Interesting Projects</a>
                        <a href="/tags.html">Tags</a>
                        <a target="_blank" href="/feed.xml">RSS Feed</a>
                    </nav>

                    <h4>Elsewhere</h4>
                    <ul>
                            <!--<li><a href="http://eepurl.com/iKGOdY">Mailinglist</a></li>-->
                            <li><a href="http://twitter.com/pepijndevos" target="_blank">Twitter</a></li>
                            <li><a href="https://freeradical.zone/@pepijndevos" target="_blank">Mastodon</a></li>
                            <li><a href="http://github.com/pepijndevos" target="_blank">Github</a></li>
                    </ul>

                    {% if site.related_posts %}
                    <h4>Remotely related posts</h4>
                    <ul>
                            {% for post in site.related_posts limit:3 %}
                            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                            {% endfor %}
                    </ul>
                    {% endif %}

                    <form action="https://duckduckgo.com">
                        <input type="search" name="q" id="search" placeholder="search" />
                        <input type="hidden" name="sites" value="pepijndevos.nl" />
                    </form>
                    <a href="http://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=pepijndevos" target="_blank">Share this page on Twitter!</a>
                </div>
            </div>
            <img src="/style/chain.png" id="chain" alt="Click to open menu" />
        </aside>
    <footer>&copy; {{ page.date | date: "%Y" }} Pepijn de Vos</footer>
        <img id="wheel-img" src="/style/wheel.png" />
    <script>
        var drawer = document.getElementById("drawer");
        console.log("run");
        document.getElementById("chain").onclick = function(event) {
            console.log(event);
            if(drawer.className == "open") {
                drawer.className = "";
            } else {
                drawer.className = "open";
            }
        }
    </script>
    </body>
</html>
