<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="readability-verification" content="3hEySDTZsM3WZZACwSUg4M39hFupkschurJmMTVV"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0"/>

		<title>{{ page.title }} - {{ site.title }}</title>

		<link rel="stylesheet" type="text/css" href="/style/style.css" />
		<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Latest posts" />
		<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    {% include og.html %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">

        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>

        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
	</head>
	<body>
		<header>
			<h1><a href="/">{{ site.title }}</a></h1>
			<span>{{ site.tagline }}</span>
		</header>

		<div class="hfeed">
			{{ content }}
		</div>
		
		<aside>
                        <div id="drawer">
                            <!--<h4><a href="/about.html">About</a></h4>-->
                            <h4><a href="/projects.html">Interesting Projects</a></h4>
                            <h4><a href="http://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=pepijndevos">Share this page on Twitter</a></h4>
                            <form action="https://duckduckgo.com">
                                <label for="search">Search</label>
                                <input type="search" name="q" id="search" />
                                <input type="hidden" name="sites" value="pepijndevos.nl" />
                            </form>
                            {% if site.related_posts %}
                            <h4>Remotely related posts</h4>
                            <ul>
                                    {% for post in site.related_posts limit:3 %}
                                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                    {% endfor %}
                            </ul>
                            {% endif %}
                            <h4>Get updates!</h4>
                            <ul>
                                    <!--<li><a href="http://eepurl.com/iKGOdY">Mailinglist</a></li>-->
                                    <li><a href="http://twitter.com/pepijndevos">Twitter</a></li>
                                    <li><a href="http://github.com/pepijndevos">Github</a></li>
                                    <li><a href="/feed.xml">Atom</a></li>
                            </ul>
                        </div>
			<img src="/style/chain.png" id="chain" alt="Click to open menu" />
		</aside>
    <footer>&copy; {{ page.date | date: "%Y" }} Pepijn de Vos</footer>
		<img id="wheel-img" src="/style/wheel.png" />
    <script>
        var drawer = document.getElementById("drawer");
        console.log("run");
        document.getElementById("chain").onclick = function(event) {
            console.log(event);
            if(drawer.className == "open") {
                drawer.className = "";
            } else {
                drawer.className = "open";
            }
        }
    </script>
	</body>
</html>
