<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="readability-verification" content="3hEySDTZsM3WZZACwSUg4M39hFupkschurJmMTVV"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0"/>

		<title>{{ page.title }} - {{ site.title }}</title>

		<link rel="stylesheet" type="text/css" href="/style/style.css" />
		<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Latest posts" />
		<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    {% include og.html %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <script>
      (function(a,b,c){var d=a.history,e=document,f=navigator||{},g=localStorage,
      h=encodeURIComponent,i=d.pushState,k=function(){return Math.random().toString(36)},
      l=function(){return g.cid||(g.cid=k()),g.cid},m=function(r){var s=[];for(var t in r)
      r.hasOwnProperty(t)&&void 0!==r[t]&&s.push(h(t)+"="+h(r[t]));return s.join("&")},
      n=function(r,s,t,u,v,w,x){var z="https://www.google-analytics.com/collect",
      A=m({v:"1",ds:"web",aip:c.anonymizeIp?1:void 0,tid:b,cid:l(),t:r||"pageview",
      sd:c.colorDepth&&screen.colorDepth?screen.colorDepth+"-bits":void 0,dr:e.referrer||
      void 0,dt:e.title,dl:e.location.origin+e.location.pathname+e.location.search,ul:c.language?
      (f.language||"").toLowerCase():void 0,de:c.characterSet?e.characterSet:void 0,
      sr:c.screenSize?(a.screen||{}).width+"x"+(a.screen||{}).height:void 0,vp:c.screenSize&&
      a.visualViewport?(a.visualViewport||{}).width+"x"+(a.visualViewport||{}).height:void 0,
      ec:s||void 0,ea:t||void 0,el:u||void 0,ev:v||void 0,exd:w||void 0,exf:"undefined"!=typeof x&&
      !1==!!x?0:void 0});if(f.sendBeacon)f.sendBeacon(z,A);else{var y=new XMLHttpRequest;
      y.open("POST",z,!0),y.send(A)}};d.pushState=function(r){return"function"==typeof d.onpushstate&&
      d.onpushstate({state:r}),setTimeout(n,c.delay||10),i.apply(d,arguments)},n(),
      a.ma={trackEvent:function o(r,s,t,u){return n("event",r,s,t,u)},
      trackException:function q(r,s){return n("exception",null,null,null,null,r,s)}}})
      (window,"UA-17444705-2",{anonymizeIp:true,colorDepth:true,characterSet:true,screenSize:true,language:true});
    </script>
	</head>
	<body>
		<header>
			<h1><a href="/">{{ site.title }}</a></h1>
			<span>{{ site.tagline }}</span>
		</header>

		<div class="hfeed">
			{{ content }}
		</div>
		
		<aside>
                        <div id="drawer">
                            <!--<h4><a href="/about.html">About</a></h4>-->
                            <h4><a href="/projects.html">Interesting Projects</a></h4>
                            <h4><a href="http://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=pepijndevos">Share this page on Twitter</a></h4>
                            {% if site.related_posts %}
                            <h4>Remotely related posts</h4>
                            <ul>
                                    {% for post in site.related_posts limit:3 %}
                                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                    {% endfor %}
                            </ul>
                            {% endif %}
                            <h4>Follow me with</h4>
                            <ul>
                                    <li><a href="http://twitter.com/pepijndevos">Twitter</a></li>
                                    <li><a href="http://www.facebook.com/pepijndevos">Facebook</a></li>
                                    <li><a href="http://github.com/pepijndevos">Github</a></li>
                                    <li><a href="/feed.xml">Atom</a></li>
                            </ul>
                        </div>
			<img src="/style/chain.jpg" id="chain" alt="Click to open menu" />
		</aside>
    <footer>&copy; {{ page.date | date: "%Y" }} Pepijn de Vos</footer>
		<img id="wheel-img" src="/style/wheel.gif" />
	</body>
</html>
